<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        .button-container {
            display: flex;
            gap: 10px;
            margin-top: 20px;
        }
        .button-container a {
            text-decoration: none;
            color: white;
            background-color: #007BFF;
            padding: 10px 20px;
            border-radius: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>{{.Title}}</h1>

<div class="button-container">
    <a href="/v1/product/add">Add Product</a>
    <a href="/v1/products/search">Search Product</a>
    <a href="/v1/products">All</a>
</div>
</body>
</html>
