<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <script>
        function fetchCaptcha() {
            fetch('/user/captcha')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('captchaImage').src = data.captcha_image;
                    document.getElementById('captchaID').value = data.captcha_id;
                })
                .catch(error => console.error('Error fetching captcha:', error));
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            fetchCaptcha();
        });
    </script>
</head>
<body>
<h1>Register</h1>
<form id="registerForm" action="/user/register" method="post">
    <label>Email:</label>
    <input type="email" name="email" required><br>
    <label>Phone:</label>
    <input type="text" name="phone" required><br>
    <label>Password:</label>
    <input type="password" name="password" required><br>
    <div id="captcha-container">
        <img id="captchaImage" src="" alt="Captcha Image">
    </div>
    <label for="captcha">Captcha:</label>
    <input type="text" id="captchaAnswer" name="captcha_answer" required><br><br>
    <input type="hidden" id="captchaID" name="captcha_id">
    <button type="submit">Register</button>
</form>
</body>
</html>
